@import '../../../styles/mixings.scss';

.row {
  padding: 150px 200px 0 200px;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-between(xs, sm) {
    padding: 100px 15px 0 15px;
  }

  @include media-breakpoint-between(sm, md) {
    padding: 150px 200px 0 200px;
  }

  @include media-breakpoint-between(md, xl) {
    padding: 150px 200px 0 200px;
  }
}
