@import '../styles/mixings.scss';

.collectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-down(xs) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.containerToggle {
  display: flex;
  position: relative;
}
